@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('a_FuturaRound Bold.ttf');
    src: url('a_FuturaRound Bold.ttf') format('embedded-opentype'),
         url('a_FuturaRound Bold.ttf') format('woff'),
         url('a_FuturaRound Bold.ttf') format('truetype'),
         url('a_FuturaRound Bold.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'HeraBig-Regular';
	src: url('a_FuturaRound Bold.ttf');
	src: url('a_FuturaRound Bold.ttf') format('embedded-opentype'),
		 url('a_FuturaRound Bold.ttf') format('woff'),
		 url('a_FuturaRound Bold.ttf') format('truetype'),
		 url('a_FuturaRound Bold.ttf') format('svg');
	font-weight: normal;
	font-style: normal;
}

