@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('./fonts/a_FuturaRound Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'HeraBig-Regular';
	src: url('./fonts/a_FuturaRound Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

